Repository Hetic-web2-g1/Who_Got_Next, pull requests merged in 2022-07, with the labels that each got.

#8 refacto map for better performance/usage
  frontend/package.json
  frontend/src/components/Map/Marker/index.jsx
  frontend/src/components/Map/index.jsx
  frontend/src/components/Map/styles.css
  frontend/src/pages/map/index.jsx
Labels: Front

#24 Creat event page
  frontend/prettierrc
  frontend/public/assets/heart.svg
  frontend/public/assets/map.svg
  frontend/public/images/evenement/create.png
  frontend/public/images/evenement/football_evenement.jpg
  frontend/public/images/evenement/gym_evenement.jpg
  frontend/public/images/evenement/volleyball_evenement.jpg
  frontend/src/components/CartEvenement/index.jsx
  frontend/src/components/CartEvenement/styles/style.css
  frontend/src/pages/evenement/index.jsx
  frontend/src/pages/evenement/style.css
  frontend/src/pages/evenement/styles/style.css
Labels: Front, Changement required

#27 Add sidebar with the landing page component
  frontend/package.json
  frontend/public/assets/user.png
  frontend/src/App.jsx
  frontend/src/components/sidebar/Navbar.css
  frontend/src/components/sidebar/Navbar.jsx
  frontend/src/components/sidebar/SidebarData1.jsx
  frontend/src/components/sidebar/img/Basket-ball.svg
  frontend/src/components/sidebar/img/MapsicleMap.png
  frontend/src/components/sidebar/img/Running.svg
  frontend/src/components/sidebar/img/bell.svg
  frontend/src/components/sidebar/img/child.svg
  frontend/src/components/sidebar/img/coeur.svg
  frontend/src/components/sidebar/img/cyclism.svg
  frontend/src/components/sidebar/img/football.svg
  frontend/src/components/sidebar/img/gym.svg
  frontend/src/components/sidebar/img/handball.svg
  frontend/src/components/sidebar/img/handi.svg
  frontend/src/components/sidebar/img/help-circle.svg
  frontend/src/components/sidebar/img/logo.svg
  frontend/src/components/sidebar/img/post.svg
  frontend/src/components/sidebar/img/rugby.svg
  frontend/src/components/sidebar/img/search-blue.svg
  frontend/src/components/sidebar/img/search-white.svg
  frontend/src/components/sidebar/img/send.svg
  frontend/src/components/sidebar/img/tennis.svg
  frontend/src/components/sidebar/img/user.svg
  frontend/src/components/sidebar/img/users.svg
  frontend/src/components/sidebar/img/volleyball.svg
  frontend/src/font/MonumentExtended-Regular.otf
  frontend/src/font/MonumentExtended-Ultrabold.otf
  frontend/src/font/Qualta-Bold.ttf
  frontend/src/font/Qualta-Regular.ttf
Labels: Front, Changement required

#34 improved evenements data and css fixes
  frontend/src/components/CartEvenement/index.jsx
  frontend/src/components/CartEvenement/styles/style.css
  frontend/src/pages/evenement/index.jsx
Labels: Front

#30 Firebase + back auth
  .gitignore
  backend/pyproject.toml
  backend/src/.python-version
  backend/src/database/db_engine.py
  backend/src/database/db_srv.py
  backend/src/database/tables/event.py
  backend/src/database/tables/field.py
  backend/src/database/tables/message.py
  backend/src/database/tables/sports_equipment.py
  backend/src/database/tables/user.py
  backend/src/main.py
  backend/src/manager/EventManager.py
  backend/src/manager/FieldManager.py
  backend/src/manager/UserManager.py
  backend/src/routers/events.py
  backend/src/routers/fields.py
  backend/src/routers/index.py
  backend/src/routers/messages.py
  backend/src/routers/users.py
  backend/src/schema/user.py
  backend/src/scripts/sport_data_import.py
  backend/src/utils/error_handelers.py
  backend/src/utils/fake.py
  backend/src/utils/firebase.py
  backend/src/utils/log.py
  frontend/src/contexts/AuthContext.jsx
  frontend/src/main.tsx
  frontend/src/pages/Private/PrivateHome/PrivateHome.jsx
  frontend/src/pages/auth/ForgotPassword/ForgotPassword.jsx
  frontend/src/pages/auth/UpdateProfile/UpdateProfile.jsx
  frontend/src/pages/auth/signup/index.css
  frontend/src/pages/auth/signup/index.jsx
  package.json
Labels: Front, Work in progress

#46 Resolve style
  frontend/src/components/landingRedirectionButton/index.jsx
  frontend/src/components/landingRedirectionButton/styles/style.css
  frontend/src/contexts/AuthContext.jsx
  frontend/src/pages/auth/ForgotPassword/ForgotPassword.jsx
  frontend/src/pages/auth/signup/index.css
  frontend/src/pages/auth/signup/index.jsx
Labels: Front, Work in progress
